<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'user/user.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<div class = "raw">
    <div class = "col-12" >
      <div class = "col-12 text-center">
<h1>MOVIYAAAA</h1>
<br><br>
</div>

<form method = "POST">
  {% csrf_token %}
  {% if login == False %}
    <div class="content">로그인 또는 회원가입을 해주세요.</div>
    <br><br><br><br><br><br>
    
    <a href="{%  url 'login' %}">
        <div class="btn2">
        <input type="button" class="btn btn-outline-light" value="로그인">
        </div>
    </a>
    
    <br><br><br>
    
    <a href="{%  url 'register' %}">
        <div class="btn1">
        <input type="button" class="btn btn-outline-light" value="회원등록">
        </div>
    </a>
    
    {% else %}
    {{ username }} 님 안녕하세요!
    <br><br><br>
    
    <a href="{%  url 'logout' %}">
        <div class="btn-group">
        <input type="button" value="로그아웃">
        </div>
    </a>
    <br><br><br>
    {% if setting == True%}
    Selected Movie
    <div style="width:500px; height: 300px; background-color:#CF0">
        <iframe src="{% url 'movview' %}?title={{title}}&original_title={{original_title}}&original_language={{original_language}}&poster_path={{poster_path}}" height="300" width="500"></iframe>
    </div>
    <br><br><br>
    Recommended
    <br><br><br>
    {% else %}
    사용자 설정이 되어 있지 않습니다. {{username}} 님이 좋아하는 영화를 등록해 주세요.
    <a href="{%  url 'searchmovie' %}">
        <div class="btn-group">
        <input type="button" value="영화 찾기">
        </div>
    </a>
    {% endif %}
    
    {% endif %}
</form>